<!doctype html>
<html lang="en">
	<head>
    	<title>RIPS Client Import Page</title>
	    
        <script src="../js/min/angular.min.js"></script>
        <script src="../js/min/jquery-3.1.1.min.js"></script>

        <script src="../js/ErrorThrowingAPI.js"></script>
        <!--<script src="js/FirebaseContentScriptAPI.js"></script>-->
        <!--<script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>-->
	  
		<script src="../js/Utils.js"></script>
		<script src="../js/FieldTranslator.js"></script>
		<script src="../js/app.js"></script>

	    <link rel="stylesheet" href="../styles/bootstrap.min.css">
		<link rel="stylesheet" href="../styles/importPageStyles.css">
  	</head>
  	<body ng-app="RIPSImportPageApp" ng-controller="MainController as ctrl">
		<!-- Full app container  -->
		<div id="full-container">
            <!-- container for Full Import Data -->
            <div id="full-import">
          		<h1 style="float:left;">Paste Client Details Below</h1>

                <!-- Sign-in / out buttons for auth go here -->

                <!-- Welcome, clientCount -->
                <!-- <div style="padding-top: 10px;">
                
        		    <span style="padding-left: 30px;"
                        ng-show="ctrl.username">Welcome, {{ ctrl.username }}</span>
                    </br>
                    <span style="padding-left: 30px;"># created: {{ctrl.clientCount}}</span>
      		    </div> -->

                <!-- Past client data here -->
      		    <textarea class="form-control" rows="7" id="comment"
        	        placeholder="{{ ctrl.textareaWelcome }}"
        		    ng-model="ctrl.clientData" ng-trim="false"></textarea>

      		    <button type="button" class="btn btn-primary"
                    style="margin: 10px;"
        		    ng-click="ctrl.fillTable()">Create Table!</button>

      		    <span ng-if="!ctrl.errorMessages.length && ctrl.delim">
        		    <strong>
          			    Data Details - Delim: "{{ ctrl.delim }}" - New-Line: "\n"
        		    </strong>
      		    </span>

      		    <button type="button" class="btn btn-success"
                    style="margin: 10px"
        		    ng-click="ctrl.importClients();"
        		    ng-if="!ctrl.errorMessages.length && ctrl.delim">
                    Import Clients
                </button>

      		    <button type="button" class="btn btn-danger"
                    style="margin: 10px"
        		    ng-click="ctrl.clearChromeData();">
                    Clear / Reset
                </button>

      		    <div ng-if="ctrl.errorMessages.length" class="row" id="error-message-display">
        		    <!-- <strong>
          			    ERROR: {{ ctrl.errorMessage }}
					</strong> -->
					<strong>
						ERROR: 
						<ul>
							<li ng-repeat="message in ctrl.errorMessages">
								{{ message }}
							</li>
						</ul>
        		    </strong>
      		    </div>
    	    </div>

			<!-- Table with parsed client data -->
			<div class="container-fluid" id="data-table-container"
				ng-if="!ctrl.errorMessages.length && ctrl.delim">
				<!-- Buttons -->
				<div class="row">
					<div style="width: {{ ctrl.getWidth($index) }}px;" 
						ng-repeat="title in ctrl.headerArr"
						class="data-table-buttons">
						<button class="btn btn-primary table-buttons-minus" 
							ng-click="ctrl.decreaseWidth($index);">-</button>
						<button class="btn btn-primary table-buttons-plus" 
							ng-click="ctrl.increaseWidth($index);">+</button>
					</div>
				</div>

				<!-- Header row -->
				<div class="row">
					<div ng-repeat="title in ctrl.headerArr" class="col-{{$index}}"
						style="width: {{ ctrl.getWidth($index) }}px;">
						{{ title }}
					</div>
				</div>

				<!-- cells -->
				<div class="row" ng-repeat="row in ctrl.dataArray">
					<div ng-repeat="prop in row" class="col-{{$index}}"
						style="width: {{ ctrl.getWidth($index) }}px;">
						{{ prop }}
					</div>
				</div>
			</div>
			<!--[end: Table with parsed client data]  -->

			<!-- Container for Auto import errors -->
			<div class="container-fluid" id="error-holder"
				 ng-if="ctrl.importErrors.length"> 
				<p>Errors during Import:</p>
				<!-- List of errors -->
				<ul>
					<li class="import-error" ng-repeat="err in ctrl.importErrors">
						{{ err }}
					</li>
				</ul>
			</div>
			<!-- [end: container for auto import errors] -->

    	<!-- [end: full container] -->
		</div>

  	</body>
</html>
