/* Data table -> Column styling */
div[class^="col-"] {
    border: solid 1px black;
    display: inline-block;
}
div[class^="col-"]:nth-child(even) {
    background-color: #bfbfbf;
}
div[class^="col-"]:nth-child(odd) {
    background-color: #fff;
}

/* Data table -> Overall table style */
div#data-table-container {
    clear: left;
    white-space: nowrap;
    overflow-x: scroll;
}
/* div#data-table-container div.row {
      style="width: {{ ctrl.getWidth($index) }}px; -> in html code  
}*/

/* Data table -> plus / minus botton container */
div.data-table-buttons {
    /*width: 100px;*/
    display: inline-block;
    padding-bottom: 5px;
    padding-top: 5px;
    border: solid 1px black;
    background-color: #fff;
}
div.data-table-buttons:nth-child(even) {
    background-color: #bfbfbf;
}

/* Data table buttons -> plus and minus */
button.table-buttons-minus {
    width: 35px;
    margin-left: 12px;
}
button.table-buttons-plus {
    width: 35px;
    margin-right: 15px;
}

/* Container for full import elements */
div#full-import {
    float: left;
    width: 800px;
}

/* Error message displayed below client data textarea */
div#error-message-display {
    color: red;
    border: solid 2px red;
    margin: 5px;
    padding: 5px;
}

/* Styles for full page (body & full-container div) */
div#full-container {
    margin-left: 20px;
}
body {
    width: 1000px; /* 800px is max width for popup */
}